$black:#353535;
// ALBUM LIST
.album {
  width: 100%;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-area: album;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eeeeee;
}
input[type="radio"] {
  margin-right: 1%;
}

#search-form {
  text-align: center;
  input {
    border-radius: 10px;
    border: solid 1px grey;
    text-align: center;
  }
}
#ascDescForm {
  text-align: center;
}

.title {
  margin-top: 1%;
  text-align: center;
  color: $black;
}

.tester {
  display: block;
}

.artist-link {
  text-decoration: none;
  color: $black;
  &:hover{
    color: red;
  }
}
.album-link {
  text-decoration: none;
  color: $black;
  &:hover{
    color: orange;
  }
}

.top {
  text-align: center;
}

.bottom {
  display: grid;
  justify-items: center;
}

.artist {
  // text-decoration: underline;
  width: 100%;
  h1,
  h2,
  h3 {
    margin: 0;
  }
  h3 {
    text-decoration: underline;
  }
}

.play-video {
  width: 80%;
}

.fa-youtube-play {
  color: red;
  margin-left: 2%;
}

.fa-play-circle-o {
  color: red;
}

.album-art {
  margin-right: 5%;
}

.art-frame {
  display: flex;
}

.album-pic {
  width: 300px;
  height: 300px;
  &:hover {
    filter: grayscale(100%);
  }
}

.track-table {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 5px 0;
    &:first-of-type {
      padding-top: 0;
    }
    h3 {
      margin: 0
    }
  }
}

.pagination {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  a {
    padding: 0 10px;
    color: $black;
    text-decoration: none;
    &:hover {
      color: orange;
    }
  }
}

@media (max-width:768px){
  .album{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .top{
    width:100%;
    text-align: center;
  }
}